<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
        <RollingFile name="RollingFile" fileName="D:/son/eGovFrameDev-3.10.0-64bit/logger/app.log"
        		filePattern="D:/son/eGovFrameDev-3.10.0-64bit/logger/$${date:yyyy-MM}/app-%d{yyyy-MM-dd-HH}-%i.log.gz">
        	<PatternLayout>
        		<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
        	</PatternLayout>
        	<Policies>
        		<TimeBasedTriggeringPolicy ineterval="24" modulate="true"/>
        		<SizeBasedTriggeringPolicy size="20 MB"/>
        	</Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="java.sql" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFile" />
        </Logger>
        <Logger name="egovframework" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFile" />
        </Logger>
          <!-- log SQL with timing information, post execution -->
        <Logger name="jdbc.sqltiming" level="INFO" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFile" />
        </Logger>
        <Logger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFile" />
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="console" />
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>
